*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(30, 163, 4, 0.418);
}

h1{
    width: fit-content;
    margin: 10% auto 0 auto;
    padding: 15px 20px;
    font-size: 4rem;
}

#output{
    background-color: rgba(34, 139, 34, 0.432);
    width: fit-content;
    padding: 10px 15px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 10px;
}